body {
    border: solid red 2px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    color: blue;
}

ul {
    border: purple dotted 2px;
    display: inline-block;
}

p {
    color: navy;
}